{
	"extends": [
		"airbnb-base",
		".eslintrc-sails"
  ],
  
	"plugins": [
		"import"
	],

  "env": {
    "node": true
  },

  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },

  "globals": {
    "Promise": true,
    "sails": true,
    "_": true,
    "async": true
  },

	"rules": {
		"no-restricted-syntax": [
			"error",
			"LabeledStatement",
			"WithStatement"
    ],
    "import/no-extraneous-dependencies": "off",
    "no-await-in-loop": "warn",
    "func-names": "off",
    "no-underscore-dangle": "off",
    "implicit-arrow-linebreak": "off"
  }
}
